:root{
    --color-principal: #1e1e2f;
    --color-secundario: #ffffff;
    --color-acento: #4fc3f7;
    --fondo: #f4f4f4;
    --texto: #282727;
    --max-ancho: 1200px;
    --fuente-base: 'Segoe UI', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fuente-base);
    background-color: var(--fondo);
    color: var(--texto);
    line-height: 1.6;
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2em;
    background-color: white; 
    padding: 10px; 
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5); 

}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 15px;
}
nav a{
    color: var(--color-acento);
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
    text-shadow: 1px 2px rgb(18, 18, 73);
}
/*-------Buscador------------*/
#buscador{
    padding: 10px;
    width: 90%;
    max-width: 500px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin: 15px auto 0;
    display: block;
}
/*-------Contenido ---------------*/

main {
    margin: 250px auto 40px; /* 100px de margen superior para que no lo tape el header */
    max-width: var(--max-ancho);
    padding: 0 20px;
}


section.introduccion {
    text-align: center;
    margin-bottom: 40px;
}
section.introduccion h2{
    font-size: 1.8em;
    color: var(--color-principal);
}
section.introduccion p{
    font-size: 1.1em;
    color: #666;
}

/*------ footer------------*/
footer{
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}


/*----------------------------- Formato de paginas (CSS, C++, HTML, JAVA, PRACTICAS Y ALGEBRA) ----------------------------------*/

html {
  scroll-padding-top: 100px; /* ajustá según la altura de tu header */
}


#info{
    margin-top: 90px;
    margin-bottom: 16px;
    font-size: 18px;

}

#cont_de_primer_info{
    display: flex;
    height: auto;
}

.colum {
    flex: 1; /* que las columnas ocupen el mismo ancho */
    justify-content: center;
    align-items: center;

}

 .colum.left {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh; /* 100% del alto de la ventana */
    background-color: #f4f4f4;
    padding:20px;
    overflow-y: auto; /* Por si la lista crece */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }

.left ul{
    margin-top: 100px;
    padding: auto;
}

  .colum.center {
    margin-left: 220px; /* Espacio suficiente para que no se solape con el índice */
    padding: 10px 20px;
    flex: 1;
  }



  .colum.right {
    padding: 10px 20px;
  }



.imagencpp {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}



.espacio{
    margin-left: 220px;
    margin-right: 220px;
}

#cont_segunda_info{

    margin-right: 220px;
    padding:10px 20px;
}


/*----------------------------- CSS de CSS ----------------------------------*/


.imagencss {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#tipos_de_selectores li {
    display: list-item;
}

#tipos_de_selectores ul{
    margin-left: 20px;
}